




@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --white:white;
  --black:black;
  --db:dodgerblue;
  --skyblue:skyblue;
  --green:green;
  --seagreen:seagreen;
  --grey:grey;
  --navblue:rgb(109, 112, 123);
}


* {
  box-sizing: border-box;
}





body {
  margin:0;
  padding:0;
  overflow-x: hidden;
  background-image: url('https://media.istockphoto.com/id/157677511/photo/sunrise-in-space.webp?s=1024x1024&w=is&k=20&c=gwG5MI7V4t1eQvIWEXEKA2EP5ijYXprTwtb1wWUGBmo=');
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  z-index: -3;
    
}









/*------------------------------------HOME.JS--------------------------------------------*/







.Home-Content-Container {
  width: 100%;
  overflow: hidden;
  z-index: -3;
}




.Home-Content-Wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content:center;
  justify-content: center;
  margin:0 auto;
  max-width: 1600px;
  height: 710px;
  z-index: -3;
}



.Home-Content-Wrapper > div {
  background-color:none;
}


.space-travel-wrapper {
  background-color: none;
  color:var(--white)
}


.header {
  width: 340px;
  margin-top: -310px;
  margin-left: 210px;
  font-size: 21px;
  font-weight: bold;
  color:var(--grey);
  font-family: "Diamond", "Emerald", "Sapphire", "Ruby", "Pearl";
  z-index: -3;

}

.space-text {
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 240px;
  z-index: -3;

}

.space-para {
  margin-left:210px;
  margin-top: -30px;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  width: 410px;
  color:var(--white);
  z-index: -3;

}


.explore {
  margin-top: -290px;
  margin-left: 210px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: whitesmoke;
  width: 230px;
  padding:4em;
  border-radius: 50%;
  color:var(--black);
  z-index: -3;
}


.explore h3 {
  text-align: center;
  margin-left: -25px;
  color:black;
  font-family: 'Times New Roman', Times, serif;

}










/*------------------------------------NAVBAR.JS FILE-----------------------------------------------------*/


.Nav-Container {
  width: 100%;
  list-style-type: none;
  background:linear-gradient(to right , black 100%);
  z-index: 100;
  margin-block:110px


}


.Nav-Wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  margin:0 auto;
  max-width: 1200px;
  height:  3px;
  text-align: center;
  z-index: 100;
 
}

.Nav-Wrapper a {
  color:whitesmoke;
  text-decoration: none;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin:0px -110px
  
}

.nav {
  margin-left: 410px;
}




.image-nav {
  margin-left: -390px; 
  z-index: 99;
}



.image-nav img {
  width: 30px;
  object-fit: contain;
  mix-blend-mode: multiply;
  
}













/*------------------------------------ABOUT.JS--------------------------------------------*/

.Space-Travel-Container {
  width: 100%;
  overflow: hidden;
}

.Space-Travel-Wrapper {
  display: grid;
  align-content:center;
  justify-content: center;
  margin:0 auto;
  max-width: 1200px;
}


.space-travel-header {
  color:var(--white);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}


.space-travel {
  color:var(--white);
  background:linear-gradient(to left, black 100%);
  border-radius: 20px;
  height: 310px;
  border: 1px solid whitesmoke;
  font-size: 20px;
  box-shadow: 10px 0px 30px 0px white inset;
}


.space-travel:nth-last-of-type(4) {
  box-shadow: -3px 0px 6px 0px whitesmoke inset;
  border: 1px solid dodgerblue;
}

.space-travel:nth-last-of-type(3) {
  box-shadow: 31px 0px 600px -10px black inset;
  border: 1px solid white;
}


.space-travel:nth-last-of-type(2) {
  box-shadow: 45px 0px 600px 60px black inset;
  border: 1px solid gold;
}


.space-travel:nth-last-of-type(1) {
  box-shadow: 4px 0px 30px 0px whitesmoke inset;
  border: 1px solid lightgreen;
}





.space-travel h3 {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


.space-travel p {
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
  color:whitesmoke
}



.Space-Travel-Container-Two {
  width: 100%;
  overflow: hidden;
  margin-block: 60px;
}


.Space-Tavel-Wrapper-Two {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content:center;
    justify-content: space-around;
    gap:30px;
    margin:0 auto;
    max-width: 1400px;
    padding:3em;
    text-align: center;

}











.Space-Travel-Container-Three {
  width: 100%;
  overflow: hidden;
  margin-top: -30px;
 


  
}


.Space-Travel-Wrapper-Three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content:baseline;
  justify-content: space-around;
  margin:0 auto;
  max-width: 2000px;
  height: 450px;
}


.planets-container {
  margin-left: 310px;
}





.planet-button-container button:hover {
  border-bottom: 3px solid white;
  
}



.planets-container img {
  width: 320px;
  object-fit: contain;
  border:none;
  outline: none;
  animation-name: planetSpin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes planetSpin {
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(360deg);}
}










.filterDiv {
  display: none;
}


.filterDiv.show {
  display: block;
}


.filterContent {
  visibility: hidden;
  color:white;
  font-size: 15px;
  position: relative;
  top:-415px;
  left: 790px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.filterContent.show {
  visibility:visible
}

.filterContent h1 {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
}

.mars-content {
  width: 450px;
  box-shadow: 1px 0px 30px 60px black inset;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}



.filterContentTwo {
  visibility: hidden;
}


.filterContentTwo.show {
  visibility: visible;
}

.mars-content-two-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content:center;
  justify-content: center;
  margin:0 auto;
  max-width: 500px;
  position: relative;
  top:-410px;
  left: 330px;
}


.mars-content-two {
  color:white;
  font-size: 15px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}


.mars-content-two p {
  color:whitesmoke
}


.mars-content-two h3 {
  color:white;
  font-weight: bold;
}



.JupiterContent {
  visibility: hidden;
  color:white;
  font-size: 15px;
  position: relative;
  top:-800px;
  left: 800px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



.JupiterContent.show {
  visibility: visible;
}




.JupiterContentTwo {
  visibility: hidden;
}


.JupiterContentTwo.show {
  visibility: visible;
}



.jupiter-content-two-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content:center;
  justify-content: center;
  margin:0 auto;
  max-width: 500px;
  position: relative;
  top:-790px;
  left: 335px;
}


.jupiter-content-two {
  color:white;
  font-size: 15px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}









.JupiterContent h1 {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
}

.jupiter-content {
  width: 450px;
  box-shadow: 1px 0px 30px 60px black inset;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}







.VenusContent {
  visibility: hidden;
  color:white;
  font-size: 15px;
  position: relative;
  top:-1175px;
  left: 790px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



.VenusContent.show {
  visibility: visible;

}

.VenusContentTwo {
  visibility: hidden;

}

.VenusContentTwo.show {
  visibility: visible;

}



.VenusContent h1 {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
}


.venus-content {
  width: 450px;
  box-shadow: 1px 0px 30px 60px black inset;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}




.venus-content-two-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content:center;
  justify-content: center;
  margin:0 auto;
  max-width: 500px;
  position: relative;
  top:-1190px;
  left: 335px;
}


.venus-content-two {
  color:white;
  font-size: 15px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}


.jupiter-content,
.venus-content,
.mars-content {
  max-width: 450px;
}






.btn {
  color:whitesmoke;
  margin: 0px 20px;
  border:none;
  outline: none;
  font-size: 20px;
  padding:0.8em 3em;
  background:none;
}


.btn.active:checked {
  border-bottom:3px solid white;
  color: white;
}




